.ip-wrapper {
    border: 1px dashed lightgray;
    padding: 2em;
    border-radius: 1em;
    margin-top: 2em;
}

.ip-wrapper-title {
    margin-top: -2em;
    margin-bottom: 1em;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1.75rem;
    background-color: white;
    width: min-content;
    white-space: nowrap;
    font-weight: 500;
}

.comment-bubble {
    background-color: #eeeeee;
    border-radius: 1em;
    padding: 1em;
    margin: 1em 0;
}